{% extends 'shop/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/styles/main_styles.css' %}">
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    
    <div class="align-self-center col-md-offset-12 col-lg-offset-12">
      <h3 >Contact Us</h3>
      
      <p>Hello User, <br/><br/>
        If you are facing any problem feel free to call or email us
        <br/><br/>
        Mobile - 9479******
        <br/>
        <p>Email - i***@gmail.com</p>
    </div>
</div>   
    
{% endblock %}