{% extends 'shop/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/styles/responsive.css' %}">
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
{% for category, products in prod_list %}
{{forloop.counter}}
<div class="best_sellers">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>{{category}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">

                        {% for product in products %}
                        <div class="owl-item product_slider_item">
                            <div class="product-item">
                                <div class="product discount">
                                    <div class="product_image">
                                        <a href="{% url 'product' product.id%}"><img src="{{product.image.url}}" style="width: 220px; height: 220px;" alt=""></a>
                                    </div>
                                    <div class="favorite favorite_left"></div>
                                    <div class="product_info">
                                        <h6 class="product_name"><a
                                                href="{% url 'product' product.id%}">{{product.name}}</a></h6>
                                        <div class="product_price">₹{{product.price}}</div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a
                                            href="{% url 'add_to_cart' product.id %}">add to cart</a></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <!-- Slider Navigation -->

                    <div
                        class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div
                        class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endfor %}

{% endblock %}